In [1]:
import pandas as pd

df = pd.read_csv("datasets/iris.csv",encoding='utf-8')

df.head(10)

   序号   叶长  sepal_width  petal_length  petal_width      species
0   1  5.1          3.5           1.4          0.2  Iris-setosa
1   2  4.9          3.0           1.4          0.2  Iris-setosa
2   3  NaN          3.2           1.3          0.2  Iris-setosa
3   4  4.6          3.1           1.5          0.2  Iris-setosa
4   5  5.0          3.6           NaN          0.2  Iris-setosa
5   6  5.4          3.9           1.7          0.4  Iris-setosa
6   7  4.6          3.4           1.4          0.3  Iris-setosa
7   8  5.0          3.4           1.5          0.2  Iris-setosa
8   9  4.4          2.9           1.4          0.2  Iris-setosa
9  10  4.9          3.1           1.5          0.1  Iris-setosa

In [2]:
print("the rows number and cols number of this dataframe are",int(df.shape[0]),int(df.shape[1]))

the rows number and cols number of this dataframe are 150 6

In [3]:
data_counts = df['species'].value_counts()

In [4]:
groups = df.groupby('species')
groups.size()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [5]:

df_data_counts = pd.DataFrame(data_counts)  #将词频结果转成DataFrame格式。
                        # 但是需要注意，转成的DataFrame的索引是需要被统计的词，列是词出现的次数

In [6]:
df_data_counts

                 species
Iris-versicolor       50
Iris-setosa           50
Iris-virginica        50

In [7]:
type(df_data_counts)

pandas.core.frame.DataFrame

In [8]:
df_data_counts.to_dict()

{'species': {'Iris-versicolor': 50, 'Iris-setosa': 50, 'Iris-virginica': 50}}

In [32]:
nullvaludeindex = df[df.isnull().values==True].drop_duplicates().iloc[:,0:1].values.flatten().tolist()

In [ ]:
#nullvaludeindex  = df[df.isnull().values==True].drop_duplicates().iloc[:,0:1].values.tolist()

In [13]:
newdf = df.interpolate(method="linear")

In [37]:
nullvaludeindex
index = []
for i in nullvaludeindex:
    index.append(i-1)
index

[2, 4, 128, 149]

In [38]:
newdf.iloc[index,1]

2      4.75
4      5.00
128    6.40
149    5.90
Name: 叶长, dtype: float64

In [39]:
sum(newdf.iloc[index,2])

13.200000000000001